body{
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #DDDDDD;
  font-family: 'Roboto', sans-serif;
  overflow-y: hidden;
}

button{
    border: none;
    margin: 0;
    padding: 9px 27px;
    width: auto;
    overflow: visible;
    background: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #000000;
    cursor: pointer;

}

button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}
